/*
* La idea general del formato global de la web es la de asemejarse dentro de lo posible al
* aspecto de aquellos productos y enseres habituales en el ámbito de la prevención y seguridad
* de riesgos e incendios. Más concretamente en este caso a un extintor y sus distintas partes:
*
*	- ENCABEZADOS Y CUERPO: el encabezado imita el latón que suele formar la válvula superior del extintor. El cuerpo
*	toma el rojo característico del aparato. Y el pie del documento adopta el color negro de las bases plásticas.
*
*	- PRODUCTOS: etiqueta informativa de extintor, pudiendo apreciarse el tono blanco grasiento que suele coger el 
*	blanco con los años.
*	
*	- REGISTRO: etiqueta de revisión del extintor, con los colores invertidos de forma que permite la escritura
*	en el cuerpo del aparato.
*	
*	- FORMATO GLOBAL: la mayoría de detalles restantes vana cordes a la estética de la señalización (verdes, amarillos)
*	y todo lo referente a la seguridad y lucha contra incendios.
*/


/*
 *
 * FORMATO GLOBAL
 *
 */
 
body{
	margin: auto;
	background-color: #FF2631;
	font-family: Calibri, Ebrima, Helvetica, Verdana, Arial MS;
	color: #FFFCC5;
}

header{
    background: url(../img/header_background.jpg);
	background-size: cover;
	background-color: #97760F;
	text-align:center;
	position: relative;
	height: 270px;
	padding-top: 2em;
}

footer{
	background-color: #0E0E0E;
	position: absolute;
	width: 100%;
	padding: 1.2em 0em;
	text-align: center;
	font-family: Ebrima;
	font-size: 14px;
}

footer p:first-child{
	font-size: 24px;
}

footer p:nth-child(2){
	text-align: justify;
}

footer p{
	color: #FFFCC5;
	font-style: oblique;
	display: inline-block;
	padding: 0em 1em;
	vertical-align: middle;
}
	
#head_wrp1 h1{
	margin: 20px 0px 0px 0px;
	color: #9C001F;
	font-family: ebrima;
}

#head_wrp2{
	overflow: hidden;
	text-align: center;
	height: 55px;
	position: absolute;
	bottom: 0;
	width: 100%;
    background-color: #9C001F;
}

#logo{
	margin:0;
	padding-top: 3px;
	float: left;
	width: 7%;
}

#menu{
	float: right;
	width: 93%;
}

.navbar{	
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: relative;
	bottom: 0;
	width: 100%;
}

.navbar li{
	float: left;
}

.navbar li a {
    display: block;
    color: #FFFCC5;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
	font-weight: bold;
	background-color: #EC1B24;
	border: 0px solid #FFFCC5;
	border-left: 2px solid #FFFCC5;
	border-top: 2px solid #FFFCC5;
	border-bottom: 2px solid #FFFCC5;
}
.navbar li:last-child a{
	border-right: 2px solid #FFFCC5;
}

.navbar li a:hover{
	background-color: #008D42;
}

#top_banner{
	background: url(../img/top_banner.jpg);
	background-size: cover;
	height: 130px;
}
.banner_text{
	margin:auto;
	text-align: center;
	line-height: 130px;
	vertical-align: middle;
	font-size: 80px;
	color: white;
    text-shadow: -3px 0 #9C001F, 0 3px #9C001F, 3px 0 #9C001F, 0 -3px #9C001F;
}

.to_top{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
}

.navbar, #head_wrp1 h1, .productos,input[type=submit], input[type=reset], #registro legend, section h2{
	text-transform: uppercase;
}


/*
 *
 * INDEX
 *
 */

#index1{	
	text-align: center;
}
 
#index_wrp{
	margin: 0 8em;
	min-height: 250px;
	min-width: 800px;
	max-width: 1000px;
}

.ind_wrp{
	margin: 1.5em 0;
}

.ind_wrp h1{
	margin: 0;
	font-size: 30px;
}

.index_col{
	vertical-align: top;
	margin: 0;
	padding: 0 0.5em;
	display: inline-block;
	width: 22%;
	height: 100%;
}

#index2{
	margin: 6em 0 0 0;
	padding: 1em 0 0.5em 0;
	background-color: #FFFCC5;
	color: #9C001F;
	text-align: center;
	font-family: Ebrima;
}

.vid_wrp{
	padding: 0 1em;
	display: inline-block;
}


/*
 *
 * PRODUCTOS
 *
 */
 
#table_wrp{
	margin: 3em auto;
	width: 80%;
}

.productos{
	width: 100%;
	border-collapse: collapse;
	font-weight: bold;
	border: 3px solid #FFFCC5;
}

.productos td, .productos th{
	padding: 8px 20px;
}

.productos ul{	
	list-style-type: none;
}

.productos li::before{
	content:"- ";
}

.productos th,.productos td{	
	border: 3px solid #FFFCC5;
}

.productos th{
	font-size: 20px;
}

.productos th:only-child{
	color: #FF2631;
	background-color: #FFFCC5;
	font-size: 28px;
}

.productos td{
	text-align: justify;
}

.productos td:last-child{
	font-size: 20px;
}


/*
 *
 * QUIENES SOMOS
 *
 */

#about, #history, #marcas, #personal{
	margin: 0;
	padding: 0;
}
 
.section_wrp{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: justify;
	font-family: Ebrima;
	font-size: 14px;
}
 
.divleft{
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

.divright{
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
}

.section_img{
	max-width: 100%;
	max-height: 100%;
}

.section_wrp p, .section_wrp h2, .section_wrp h3{
	padding: 10px;
}


/*
 *
 * CONTACTO
 *
 */

#contacto{
	margin: 2em 0;
}

#mapa{
	margin: 0 2em 0 0;
	text-align: center;
}

#pie_de_mapa{
	font-size: 11px;
	font-family: Verdana;
}


/*
 *
 * REGISTRO
 *
 */

#registro{
	margin: auto;
	width: 75%;
	color: #EC1B24;
	background-color: #FFFCC5;
}

#registro legend{
	font-weight: bold;
}

#acceso, #info_pers, #otra_info{
	border-color: #EC1B24;
	margin: 1em;
}

#acceso td, #info_pers td{
	font-weight: bold;
}
	
.tabla_reg td{
	padding: 5px 10px 5px 5px;
	height: 25px;
}

input[type=text],input[type=password],input[type=date], #provincia{
	/*padding: 1em 1.6em;*/
	background-color: #DEDEDE;
    color: red;
	border: 2px solid red;
	border-radius: 0.6em;
	height: 100%;
	width: 100%;
}

#pro{
	padding-right: 5px;
}

option{
	font-size:18px;
}

input[type=text]:focus,input[type=password]:focus,input[type=date]:focus, #provincia:focus {
	border: 2px solid #008D42;
	color: #008D42;
}

input[type=submit], input[type=reset]{
	padding:1em 1.6em;
	background:#008D42;
    color: #FFFCC5;
	border: 4px solid #FFFCC5;
	border-radius: 0.9em;
    cursor:pointer;
	font-weight: bold;
}

input[type=submit]:hover{	
	background: url(../img/enviar.png)  no-repeat local center;
	color: transparent;
	border: 4px solid #454545;
}

input[type=reset]:hover{
	background: url(../img/extinguir.png)  no-repeat local center;
	border: 4px solid #9C001F;
	color: transparent;
}

#botones{
	padding: 5px 0px;
	text-align: center;
	width:100%;
	background-color: #FF2631;
}

#sugerencias{
	width: 100%;
	resize: none;
}